### ðŸŽï¸ TP : Base de donnÃ©es sur les voitures ðŸŽï¸

#### A - RequÃªtes simples

1. Afficher la liste des marques (`brand_name`) prÃ©sentes dans la base.

2. Afficher les noms et prÃ©noms des clients, triÃ©s par ordre alphabÃ©tique des noms de famille.

_Attention, une mÃªme personne peut avoir achetÃ© plusieurs voitures et on ne veut pas de doublons._

#### B - RequÃªtes avec une jointure

3. Afficher la liste des noms des modÃ¨les (`model_name`) de voitures de la marque *SuperCar*.

4. Madame Maria Swabota a achetÃ© deux voitures dans sa vie. 

Afficher les dates d'achat (`purchase_date`) et les prix d'achat (`purchase_price`) de ces deux voitures.

5. Certaines voitures de la base ont Ã©tÃ© fabriquÃ©es entre le premier janvier 2020 et maintenant.

Afficher le nom des modÃ¨les de ces voitures et leur date de fabication (`manufactured_date`).

_Comme pour les nombres, on peut faire en SQL des comparaisons sur les attributs de type DATE avec des clauses de la forme_ `manufactured_date > '2020-01-01'`.

6. Afficher le nombre de voitures rouges qui ont Ã©tÃ© fabriquÃ©es. 

_La couleur est une des `options` d'une voiture fabriquÃ©e_.

In [ ]:
/* Ã‰crire votre requÃªte
On doit trouver 5 voitures rouges */

7. Expliquer ce que fournit la requÃªte suivante :

In [ ]:
SELECT gender,SUM(purchase_price)
FROM ownerships
JOIN customers ON customers.customer_id = ownerships.customer_id
GROUP BY gender;

ðŸ™‹ RÃ©ponse :

#### C - RequÃªtes avec des jointures multiples

8. Afficher la liste des noms et prÃ©noms des femmes qui ont achetÃ© une voiture bleue, ainsi que la date d'achat (`purchase_date`) de cette voiture bleue.

In [ ]:
/* Ã‰crire votre requÃªte
On doit trouver une liste de 4 personnes */

9. On veut connaitre, pour tous les clients nommÃ©s Parker, la marque et le modÃ¨le des voitures qu'ils ont achetÃ©.

Afficher la liste des noms et prÃ©noms de ces clients ainsi que la marque et le modÃ¨le de leurs voitures.

In [ ]:
/* Ã‰crire votre requÃªte
On doit trouver une liste de 4 personnes */

10. Afficher la somme des prix d'achat (`purchase_price`) de toutes les voitures que la marque (`brand_name`) _Ferrari_ a vendu.

In [ ]:
/* Ã‰crire votre requÃªte
On doit trouver 978700 dollars */

11. Afficher, sans doublon,  la liste des modÃ¨les de voitures Ã©quipÃ©es de 4 roues motrices (elles ont un chassis dont le `part_name` vaut `'4WD Chassis'`), ainsi que leur marque.

#### D - Modification de la base

12. La voiture nÂ°7 existe bien : en effet, la requÃªte suivante renvoie un rÃ©sultat non vide.

In [ ]:
SELECT cars.vin, model_name
FROM cars
JOIN models ON models.model_id = cars.model_id
WHERE cars.vin = 7;

Mais elle n'a pas encore Ã©tÃ© vendue : en effet, la requÃªte suivante renvoie un rÃ©sultat vide.

In [ ]:
SELECT cars.vin, customer_id
FROM cars
JOIN ownerships ON ownerships.vin = cars.vin
WHERE cars.vin = 7;

Ã‰crire la requÃªte permettant de matÃ©rialiser l'achat de cette voiture par la cliente Maria Korkova (_il faudra peut-Ãªtre Ã©crire au prÃ©alable une requÃªte permettant de trouver l'identifiant de cette cliente_), avec les caractÃ©ristiques suivantes :

- `purchase_date` : la date d'aujourd'hui, au format `"AAAA-MM-DD"` ;
- `purchase_price` : 26200 dollars
- `warantee_expire_date` : 5 ans de plus que la date d'aujourd'hui, Ã©galement au format `"AAAA-MM-DD"`.

VÃ©rifier ensuite par une requÃªte que Maria Korkova est bien la propriÃ©taire de cette voiture.

In [ ]:
/* Ã‰crire ici la requÃªte
Maria Korkova doit maintenant Ãªtre prorriÃ©taire de deux voitures */

13. Le client Lancelot DuLac vient d'avoir une augmentation de salaire : son `household_income` est maintenant de 250000 dollars. Ã‰crire la requÃªte qui permet de mettre Ã  jour la base.